<app-currency-selector [currencies]="currencies"
                       (onSelect)="onCurrencyChange($event.value)"></app-currency-selector>
<md-input-container class="example-full-width">
    <input mdInput type="text" [formControl]="inputSelector" placeholder="Search"/>
</md-input-container>

<section>
    <app-coin-card [coin]="coin" *ngFor="let coin of coins | async; trackBy: coinName "></app-coin-card>
</section>
<ng-template #loader>
    <md-progress-spinner
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'">
    </md-progress-spinner>
</ng-template>
