<mat-card class="authorization-card">
    <div class="login-form">
        <form class="app-form" action="#" role="form"
              #formDir="ngForm"
              [formGroup]="emailConfirmForm"
              (ngSubmit)="onConfirmRegistration()">
            <mat-input-container class="app-full-width">
                <input matInput id="email" type="email" maxlength="50" class="form-control"
                       placeholder="Email (username)"
                       formControlName="email"/>
            </mat-input-container>
            <mat-input-container class="app-full-width">
                <input matInput id="password" type="password" maxlength="50" class="form-control"
                       placeholder="Password"
                       formControlName="password"/>
            </mat-input-container>
            <mat-input-container class="app-full-width">
                <input matInput id="confirmationCode"
                       placeholder="Confirmation Code"
                       type="text" maxlength="50" class="form-control"
                       formControlName="confirmationCode"/>
            </mat-input-container>
            <button mat-raised-button
                    id="confirmRegistration" type="submit"
                    class="btn btn-info btn-block app-full-width">Confirm
            </button>
        </form>
        <dialog>{{errorMessage}}</dialog>
    </div>
    <div class="custom-card-footer">
        <p>Can't find your code?
            <button mat-button color="warn"
                    (click)="resendCode()">
                ResendCode
            </button>
            <button mat-button color="primary"
                    [routerLink]="['/g/register']">
                Register
            </button>
            <button mat-button color="primary"
                    [routerLink]="['/g/login']">
                Login
            </button>
        </p>
    </div>
</mat-card>
