<div class="form">
    <form class="app-form" method="POST" action="#" role="form" [formGroup]="emailConfirmForm" #formDir="ngForm">
        <md-input-container class="app-full-width">
            <input mdInput id="email" type="email" maxlength="50" class="form-control"
                   placeholder="Email (username)"
                   formControlName="email"/>
        </md-input-container>
        <md-input-container class="app-full-width">
            <input mdInput id="confirmationCode"
                   placeholder="Confirmation Code"
                   type="text" maxlength="50" class="form-control"
                   formControlName="confirmationCode"/>
        </md-input-container>
        <button md-raised-button (click)="onConfirmRegistration()"
                id="confirmRegistration" type="submit"
                class="btn btn-info btn-block">Confirm
        </button>

        <p>Can't find your code?
            <button md-button color="warn"
                    (click)="resendCode()">
                ResendCode
            </button>
            <button md-button color="primary"
                    [routerLink]="['/g/register']">
                Register
            </button>
            <button md-button color="primary"
                    [routerLink]="['/g/login']">
                Login
            </button>
        </p>
    </form>
    <dialog>{{errorMessage}}</dialog>
</div>
