<div class="form">
    <form class="app-form" method="POST" action="#" role="form" [formGroup]="emailConfirmForm" #formDir="ngForm">
        <md-input-container class="app-full-width">
            <input mdInput id="email" type="email" maxlength="50" class="form-control"
                   placeholder="Email (username)"
                   formControlName="email"/>
        </md-input-container>
        <md-input-container class="app-full-width">
            <input mdInput id="confirmationCode"
                   placeholder="Confirmation Code"
                   type="text" maxlength="50" class="form-control"
                   formControlName="confirmationCode"/>
        </md-input-container>
        <button md-raised-button (click)="onConfirmRegistration()"
                id="confirmRegistration" type="submit"
                class="btn btn-info btn-block">Confirm
        </button>
        <p>Can't find your code? <a [routerLink]="['/home/resendCode']"> <i class="fa fa-fw fa-group"></i> Resend
            Code</a>
            <a [routerLink]="['/home/register']"> <i class="fa fa-fw fa-group"></i> Register</a> <a
                [routerLink]="['/home/login']"> <i class="fa fa-fw fa-user"></i> Login</a>
        </p>
    </form>
</div>
