@import "../../assets/media-queries";

.portfolios-component {
    text-align: center;
    width: 100%;
    mat-expansion-panel {
        max-width: 500px;
        margin: 0 auto;
    }

    .cards-view {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        app-portfolio-card {
            display: block;
            padding: 10px;
        }
        @media #{$generic-phone}{
            app-portfolio-card {
                display: block;
                padding: 10px;
                width: 90%;
                margin: 0 auto;
            }
        }

    }
}

