<mat-card class="coin-card">
    <mat-card-header>
        <div mat-card-avatar class="header-image">
            <img [src]="coin.logo">
        </div>
        <mat-card-title>{{coin.name}} ({{coin.symbol}})</mat-card-title>

        <mat-card-subtitle>
            {{coin.price|currency:coin.baseCurrency:true}} -
            <span [ngClass]="{'positive':coin.percent_change_24h > 0, 'negative':coin.percent_change_24h < 0}">
                ({{coin.percent_change_24h}}%)
                </span>
        </mat-card-subtitle>
        <a class="coin-add-link" mat-mini-fab routerLink="/investto/{{coin.name}}">
            <mat-icon>check</mat-icon>
        </a>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
</mat-card>
