<div class="form" *ngIf="!(loaderService.isActive|async)">
    <form class="login-box" (ngSubmit)="login()">
        <p>
            <mat-input-container class="app-full-width" *ngIf="!changePswd; else newPasswordInput">
                <input matInput type="text" placeholder="User Name" [(ngModel)]="username" name="username"/>
            </mat-input-container>
            <ng-template #newPasswordInput>
                <mat-input-container class="app-full-width">
                    <input matInput type="password" placeholder="New Password"
                           [(ngModel)]="newPassword"
                           name="newPassword"/>
                </mat-input-container>
            </ng-template>
            <mat-input-container class="app-full-width">
                <input matInput type="password" placeholder="{{changePswd?'confirm':''}} Password"
                       name="password"
                       [(ngModel)]="password"/>
            </mat-input-container>
        </p>
        <p>
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <b><a [routerLink]="['/g/email-confirm']"> Confirm Email</a></b>
        </p>
    </form>
    <p>
        {{error}}
    </p>
</div>

