<div class="form">
    <p>
        <md-input-container class="example-full-width" *ngIf="!changePswd; else newPasswordInput">
            <input mdInput type="text" placeholder="User Name" [(ngModel)]="username"/>
        </md-input-container>
        <ng-template #newPasswordInput>
            <md-input-container class="example-full-width">
                <input mdInput type="password" placeholder="New Password" [(ngModel)]="newPassword"/>
            </md-input-container>
        </ng-template>
        <md-input-container class="example-full-width">
            <input mdInput type="password" placeholder="Confirm Password" [(ngModel)]="password"/>
        </md-input-container>
    </p>
    <p>
        <button md-raised-button color="primary" (click)="login()">Submit</button>
    </p>
    <p>
        {{error}}
    </p>
</div>