<md-table #table [dataSource]="dataSource" class="list-view">
    <!-- ID Column -->
    <ng-container cdkColumnDef="investId">
        <md-header-cell *cdkHeaderCellDef>Crypto Coin</md-header-cell>
        <md-cell *cdkCellDef="let coin">
            <md-icon md-list-icon>
                <div md-card-avatar class="example-header-image">
                    <img [src]="coin.logo">
                </div>
            </md-icon>
            <div class="row-content">
                <h3>{{coin.name}}</h3><span>{{coin.last_updated | date}}</span>
            </div>
        </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="quantity">
        <md-header-cell *cdkHeaderCellDef> Units</md-header-cell>
        <md-cell *cdkCellDef="let coin"> {{coin.quantity}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="openPrice">
        <md-header-cell *cdkHeaderCellDef> Open</md-header-cell>
        <md-cell *cdkCellDef="let coin"> {{coin.openPrice}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="price_usd">
        <md-header-cell *cdkHeaderCellDef> Current</md-header-cell>
        <md-cell *cdkCellDef="let coin"> {{coin.price_usd}}</md-cell>
    </ng-container>

    <!--&lt;!&ndash; Color Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="color">-->
    <!--<md-header-cell *cdkHeaderCellDef>Color</md-header-cell>-->
    <!--<md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}}-->
    <!--</md-cell>-->
    <!--</ng-container>-->

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<md-list>
    <md-list-item *ngFor="let coin of visibleCoins | async">
        <md-icon md-list-icon>
            <div md-card-avatar class="example-header-image">
                <img [src]="coin.logo">
            </div>
        </md-icon>
        <h4 md-line>{{coin.name}}</h4>
        <p md-line> {{coin.last_updated | date}} </p>
    </md-list-item>
</md-list>