<mat-card class="authorization-card" *ngIf="!(loaderService.isActive|async)">
    <div class="login-form">

        <form class="login-box" [formGroup]="changePasswordForm" (ngSubmit)="onChange()">
            <mat-input-container class="app-full-width">
                <input type="password" matInput placeholder="Current Password"
                       formControlName="currentPassword">
            </mat-input-container>
            <mat-input-container class="app-full-width">
                <input type="password" matInput placeholder="New Password"
                       formControlName="newPassword">
            </mat-input-container>
            <mat-input-container class="app-full-width">
                <input type="password" matInput placeholder="New Password"
                       formControlName="confirmPassword">
            </mat-input-container>
            <p class="help-block"
               *ngIf="changePasswordForm.get('confirmPassword').hasError('passwordMismatch') && changePasswordForm.get('confirmPassword').touched">
                Las contraseñas no coinciden</p>

            <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
    </div>
</mat-card>
