<form class="app-form" [formGroup]="changePasswordForm" (ngSubmit)="onChange()">
    <md-input-container class="app-full-width">
        <input type="password" mdInput placeholder="Current Password"
               formControlName="currentPassword">
    </md-input-container>
    <md-input-container class="app-full-width">
        <input type="password" mdInput placeholder="New Password"
               formControlName="newPassword">
    </md-input-container>
    <md-input-container class="app-full-width">
        <input type="password" mdInput placeholder="New Password"
               formControlName="confirmPassword">
    </md-input-container>
    <p class="help-block" *ngIf="changePasswordForm.get('confirmPassword').hasError('passwordMismatch') && changePasswordForm.get('confirmPassword').touched">Las contraseñas no coinciden</p>

    <button md-raised-button color="primary" type="submit">Save</button>
</form>
