@import "../../../assets/media-queries";

$form-width-desktop: 500px;
$form-width-mobile: 80%;

mat-card {
    width: 100%;
    max-width: $form-width-desktop;
    margin: 40px auto 0;
    position: relative;

    /deep/ mat-card-header {
        .mat-card-header-text {
            margin: 0;
            h1 {
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
    }
    mat-card-actions {
        margin: 0;
        button {
            font-size: 20px;
            padding: 4px 0;
        }
    }
    .login-form {
        padding: 26px;
    }
    .custom-card-footer {
        text-align: center;
        background: #f0f0f0;
        display: block;
        width: $form-width-desktop;
        line-height: 40px;
        border-top: 1px solid #dcdcdc;
        left: 0;
        padding: 15px 0;
    }
    .app-full-width {
        width: 100%;
    }
}

@media #{$generic-phone}{
    mat-card {
        width: $form-width-mobile;
        .custom-card-footer {
            width: 100%;
        }
    }
}
