<form class="app-form" [formGroup]="profileForm" (ngSubmit)="onSave()">
    <mat-input-container class="app-full-width">
        <input type="text" matInput placeholder="First name"
               formControlName="firstName">
    </mat-input-container>
    <mat-input-container class="app-full-width">
        <input type="text" matInput placeholder="Last Name"
               formControlName="lastName">
    </mat-input-container>
    <button mat-raised-button color="primary" type="submit">Save</button>
</form>
