<div class="coins-manager" *ngIf="!!coin">
    <mat-card class="example-card">
        <mat-card-header>
            <div class="card-header-left">
                <div mat-card-avatar class="example-header-image">
                    <img [src]="coin.logo">
                </div>
                <mat-card-title>{{coin.name}} ({{coin.symbol}})</mat-card-title>

                <mat-card-subtitle>
                    {{coin.price|priceFormat}} -
                    <span [ngClass]="{'positive':coin.percent_change_24h > 0, 'negative':coin.percent_change_24h < 0}">
                    ({{coin.percent_change_24h}}%)
                </span>
                </mat-card-subtitle>
                <mat-card-subtitle>BTC {{coin.price_btc}}</mat-card-subtitle>
            </div>
        </mat-card-header>

        <mat-card-content>

            <mat-form-field>
                <mat-select class="portfolio-select"
                            placeholder="Select Portfolio"
                            [(ngModel)]="selectedPortfolio"
                            name="portfolio">
                    <mat-option *ngFor="let portfolio of portfolios | async" [value]="portfolio">
                        {{portfolio.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-input-container>
                <input matInput type="number" placeholder="Mount" [(ngModel)]="coinToBuy.amount"/>
            </mat-input-container>
            <mat-input-container>
                <input matInput type="number" placeholder="Price" [(ngModel)]="coinToBuy.openPrice"/>
            </mat-input-container>
            <mat-input-container>
                <input matInput type="text" placeholder="Note" [(ngModel)]="coinToBuy.description"/>
            </mat-input-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="graph">
    <canvas *ngIf="!!lineChartData"
            baseChart width="800" height="300"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>
