<div class="footer-invest" *ngIf="totals | async">
    <div class="footer-invest-inner invested">
        <h3>{{(totals | async)?.open | currency}}</h3>
        <span>Invested</span>
    </div>
    <div class="footer-invest-inner profit">
        <h3>{{(totals | async)?.current | currency}}</h3>
        <span>Equity</span>
    </div>
    <div class="footer-invest-inner profit {{(totals | async)?.profit > 0 ? 'pos': 'neg'}}">
        <h3>{{(totals | async)?.profit | currency}}</h3>
        <span>Profit</span>
    </div>
    <div class="footer-invest-inner equity {{(totals | async)?.profit > 0 ? 'pos': 'neg'}}">
        <h3>{{(totals | async)?.profitPct|percent}}</h3>
        <span>Equity</span>
    </div>
</div>
