@import "assets/material";
@import "assets/aw-cryptocoins/cryptocoins.css";
@import "assets/aw-cryptocoins/cryptocoins-colors.css";
@import "assets/reset-css";

body {
  margin: 0;
  font-size: 18px;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}