<div class="portfolio-card-host">
    <mat-icon (click)="deletePortfolio()">clear</mat-icon>
    <mat-card class="portfolio-card" (click)="goToPortfolio()">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <picture>
                    <img src="assets/brand/favicon.png" alt="MDN">
                </picture>
            </div>
            <mat-card-title>{{portfolio.name}}</mat-card-title>
            <mat-card-title>
                <b>Base: {{portfolio.baseCurrency}}</b>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="(totals | async) && !(loaderService.isActive|async)" class="clearfix">
            <ul class="totals">
                <li class="item">
                    <div class="profit">
                        <h3>{{(totals | async)?.open | currency}}</h3>
                        <span>Invested</span>
                    </div>
                </li>
                <li class="item">
                    <div class="profit">
                        <h3>{{(totals | async)?.current | currency}}</h3>
                        <span>equity</span>
                    </div>
                </li>
                <li class="item">
                    <div class="equity {{(totals | async)?.profit > 0 ? 'pos': 'neg'}}">
                        <h3>{{(totals | async)?.profit | currency}}</h3>
                        <span>Profit</span>
                    </div>
                </li>
                <li class="item">
                    <div class="equity {{(totals | async)?.profitPct > 0 ? 'pos': 'neg'}}">
                        <h3>{{(totals | async)?.profitPct | percent}}</h3>
                        <span>P/L(%)</span>
                    </div>
                </li>
            </ul>
        </mat-card-content>
        <div class="loader clearfix"  *ngIf="(loaderService.isActive|async)">
            <mat-spinner></mat-spinner>
        </div>
        <mat-card-actions>
            <button mat-button [routerLink]="['/app/coins']">Add Investment</button>
        </mat-card-actions>
    </mat-card>
</div>
