<h1 *ngIf="config.title" mat-dialog-title>{{config.title}}</h1>

<div *ngIf="config.input===false; else modalInput">
    <div mat-dialog-content>
        {{config.message}}
    </div>

    <div mat-dialog-actions>
        <button *ngFor="let opt of config.options" mat-button [mat-dialog-close]="opt.value">{{opt.label}}</button>
    </div>

</div>
<ng-template #modalInput>
    <div mat-dialog-content>
        <p class="msg">
            {{config.message}}
        </p>
        <p>
            <mat-input-container class="app-full-width">
                <input matInput type="text" [(ngModel)]="response" name="response" placeholder="Confirmation Code"/>
            </mat-input-container>
        </p>
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="response">Submit</button>
    </div>
</ng-template>
